<% content_for :title do %>About<% end %>
<h3>About Teacher Notes</h3>
<p>Teacher Notes was created to help one of the founders's wives in her pre-k classroom, and she found it very useful.</p>
<p>We sincerely hope you find it useful as well.</p>
<p>If you have any questions, comments or inquries, go the the <%= link_to 'Contact', new_contact_path %> page and write us. We'll get back to you at soon as possible.</p>
