<% content_for :title do %>About<% end %>
<h3>About A to Z The Artist in Me</h3>
<p>A to Z The Artist in Me is an application where toddlers all the way to grade school children can begin to explore or nurture their budding love of great art and photography, and in addition learn letters and objects.  </p>

<p>Each letter of the alphabet is represented with a beautiful photograph, which your child can then paint over, creating an equally beautiful painting. With each painted letter, your child will unlock stamps which they can use to customize each painting. Each stamp makes it’s own noise when it is placed on a painting, and you can watch your child squeal with delight at the different sounds each stamp makes.</p>

<p>WHY CHILDREN AND PERENTS LOVE IT:<br>
- Beautiful photographs to inspire your child’s imagination<br>
- Magnificent paintings to instill creativity in your child<br>
- Wonderfully designed stamps, each with it’s own curated sound<br>
- Endless amount of fun modifying each paintings with stamps<br>
- A unique way to support letter recognition<br>
- Spoken phrases teach your child about writing and reading and phonics</p>

<p>ABOUT US</p>

<p>Your comments, feedback or questions about A to Z The Artist in Me are always welcome. Please e-mail atoztheartistinme@gmail.com. </p>

<p>Recommended Ages: all</p>

<p>Categories: Early Learning, Letters, Reading, Artist, Photography, Painting</p>
