<% content_for :title do %>Help<% end %>

<section>
	<div class="centerColumn">
	<div class="panel">
		<h3>Adding, renaming and deleting Class</h3>
		<iframe width="420" height="315" src="//www.youtube.com/embed/IGOqilnGzv4?start=20" frameborder="0" allowfullscreen></iframe>
		<br><br><br> 
		</div>
		<hr>

		<div class="panel">
		<h3>Adding and managing class information</h3>
		<iframe width="420" height="315" src="//www.youtube.com/embed/IGOqilnGzv4?start=50" frameborder="0" allowfullscreen></iframe>
		<br><br><br>
		</div>
		<hr>

		<div class="panel">
		<h3>Your first note</h3>
		<iframe width="420" height="315" src="//www.youtube.com/embed/IGOqilnGzv4?start=114" frameborder="0" allowfullscreen></iframe>
		<br><br><br>
		</div>
		<hr>

		<div class="panel">
		<h3>File a note with an image</h3>
		<iframe width="420" height="315" src="//www.youtube.com/embed/IGOqilnGzv4?start=187" frameborder="0" allowfullscreen></iframe>
		<br><br><br>
		</div>
		<hr>

		<div class="panel">
		<h3>Track assignments</h3>
		<iframe width="420" height="315" src="//www.youtube.com/embed/IGOqilnGzv4?start=242" frameborder="0" allowfullscreen></iframe>
		<br><br><br>
		</div>
	</div>
</section>