<% content_for :title do %>Privacy Policy<% end %>
<h3>A to Z The Artist in Me Privacy Policy</h3>
<p>This Privacy Policy describes the information collected by Gerrard Apps LLC through the mobile application A to Z The Artist in Me.</p>
<p>As a father I highly respect the privacy of your children using this app.</p>

<p>We do NOT collect personal information of your child.
The only thing we do collect are anonymous statistics of the usage of the app,
to understand it better, its usability and to improve the app.
We are using a third party service called <a href="http://www.flurry.com/solutions/analytics"> Flurry Analytics </a> for that. They store this information securely. This is only anonymous statistic information provided to us and no one else, to see were the week points of our app are.</p>

<p>We do not know about any other information such as: name, address, email, phone-numbers or photos.</p>
<p>We do not have in-app purchases.</p>
<p>It is a one time purchase of the full app.</p>
<p>We do not integrate any social media in the app.</p>
<p>The only part where you are able to go to our facebook or twitter page is securely positioned in the "about" section of the app, with a secure parent gate. Children are not able to access this area by themself.</p>
<p>We do not have any third-party advertising within the app.</p>

<p>If you have any questions, comments or inquries, go the the <%= link_to 'Contact', new_contact_path %> page and write us there, or email us at atoztheartistinme@gmail.com. We'll get back to you at soon as possible.</p>